<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "About", '#'%></li>
      <li><%= link_to "Contact", 'http://iamnotaprogrammer.com'%></li>
      <li><%= link_to "News", 'http://news.railstutorial.org'%></li>
      <li><%= link_to "Rails", '#'%></li>
    </ul>
  </nav>
</footer>